<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updated" method="post" enctype="multipart/form-data">{% csrf_token %}
        <input type="text" value="{{ get_data.id }}" name="id" style="display: none;"><br>
        <input type="text" value="{{ get_data.QuestionsText }}" name="questiontext" placeholder="Question..."><br>
        <input type="text" value="{{ get_data.GradeId }}" name="gradeid" placeholder="Grade ID..."><br>
        <input type="text" value="{{ get_data.SubjectID }}" name="subjectid" placeholder="Subject ID..."><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>