<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Assignment</h1>
    <br>
    <div style="border: 1px solid black; padding:20px">
    <h3>Upload data:</h3>
    <form action="/insert" method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="file" name="file" onchange="file_verify(), file_size_verify()" id="selected_file">
    <h3 id="message" style="display: none;color:red">Please select a .csv file!</h3>
    <h3 id="message_size" style="display: none;color:red">File Size Exceeded should be less than 5KB!</h3>
    <input type="submit" value="Upload" disabled id="upload_button">
    </form>
</div>
    <br>
    <br>
    <div style="border: 1px solid black; padding:20px">
    <h3>Show all data:</h3>
    <a href="/showdata">Show all data</a>
</div>
    <br><br><br>
    <div style="border: 1px solid black; padding:20px">
    <h3>Update data:</h3>
    <form action="/update" method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="number" name="questionid" placeholder="Enter ID...">
    <input type="submit" value="Send">
    </form>
</div>
<script>
function file_verify(){
var message=document.getElementById('message');
var selected_file = document.getElementById('selected_file');
var upload_button = document.getElementById('upload_button');
var file_path = selected_file.value;
var allowed=/(\.csv)$/i;

if(!allowed.exec(file_path))
{
message.style.display='block';
file_path.value="";
return false;
}
else
{
var file_new=file_path.replace(/^.*?([^\\\/]*)$/,'$1');
message.style.display='block';
message.style.color="black";
message.innerHTML="<h3>"+file_new+"</h3>";
upload_button.disabled=false;
return true;
}
}

function file_size_verify(){
var selected_file = document.getElementById('selected_file');
var message = document.getElementById('message_size');
var upload_button = document.getElementById('upload_button');
var file_size = selected_file.files[0].size/1024;

if(file_size > 5){
    message.style.display = 'block';
    selected_file.value="";
    upload_button.disabled=true;
    return false;
}
else{
    upload_button.disabled=false;
    return true;
}

}
</script>
</body>
</html>