<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table width="100%" border="1">
        <Tr><th>Id</th><th>Questions</th><th>Grade Id</th><th>Grade</th><th>Subject Id</th><th>Subject</th></Tr>
    {% for i in alldata %}
        <tr>
            <td><p>{{ i.id }}</p></td>
            <td><p>{{ i.QuestionsText }}</p></td>
            <td><p>{{ i.GradeId }}</p></td>
            <td><p>{{ i.Grade }}</p></td>
            <td><p>{{ i.SubjectID }}</p></td>
            <td><p>{{ i.Subject }}</p></td>
        </tr>
    
    {% endfor %}
</table>
</body>
</html>